/* 版心 */
.wrapper{
    width: 1240px;
    margin: 0 auto;
}
/* 快捷导航 */
.shortcut{
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper{
    height: 52px;
}

.shortcut .wrapper ul{
    float: right;
}

.shortcut .wrapper li{
    float: left;
    line-height: 52px;
}

.shortcut .wrapper a{
    color: aliceblue;
    border-right: 1px solid #666;
    padding: 0 16px;
    font-size: 14px;
    color: #dcdcdc;
}

.shortcut .wrapper span{
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    background-image: url(../images/手机.png);
    vertical-align: middle;
}

/* 头部 */
.header{
    margin: 30px auto;
    height: 70px;
}

.header .logo{
    float: left;
    width: 207px;
    height: 70px;
}

.header .logo h1{
    width: 207px;
    height: 70px;
}

.header .logo h1 a{
    display: block;
    width: 207px;
    height: 70px;
    background-image: url(../images/白兔.png);
    background-size: contain;
    font-size: 0;
}

.header .nav{
    margin-left: 40px;
    float: left;
    height: 70px;
}

.header .nav li{
    float: left;
    margin-right: 48px;
    line-height: 70px;
}

.nav li a:hover{
    color: #27ba9b;
    border-bottom: 1px solid #27ba9b;
}

.header .nav li a{
    padding-bottom: 7px;
}

.header .seach{
    position: relative;
    float: left;
    margin-top: 24px;
    margin-left: 34px;
    width: 172px;
    height: 30px;
    border-bottom: 2px solid #e7e7e7;
}

.seach input{
    padding-left: 30px;
    width: 172px;
    height: 28px;
}

.seach input ::placeholder{
    color: #ccc;
    font-size: 14px;
}

.seach span{
    left: 0;
    top: 0;
    position: absolute;
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url(../images/放大镜.png);
}

.header .car{
    margin-top: 28px;
    float: left;
    position: relative;
    margin-left: 15px;
    width: 24px;
    height: 24px;
    background-image: url(../images/购物车选中.png);
}

.car span{
    position: absolute;
    right: -14px;
    top: -8px;
    width: 24px;
    height: 24px;
    background-color: red;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 24px;
}
/* 尾部 */
.footer{
    height: 342px;
    background-color: #333;
}

.footer .wrapper{
    width: 1393px;
}

.footer .top{
    padding-top: 60px;
    padding-left: 135px;
    height: 175px;
    border-bottom: 3px solid #434343;
}

.footer .top li{
    position: relative;
    float: left;
    margin-right: 300px;                                                                                                                                                       
    width: 195px;
    height: 50px;
}

.footer .top li:last-child{
    margin-right: 0;
}

/* 添加伪元素标签   行内*/
.footer .top li::before{
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 50px;
    height: 50px;
    background-image: url(../images/3.1-价格.png);
    vertical-align: middle;
}

.footer .top li span{
    margin-left: 77px;
    font-size: 28px;
    color: #fff;
}

/* 第二和三个li里面的before 添加背景图 */
.footer .top li:nth-child(2)::before{
    background-image: url(../images/快递.png);
}

.footer .top li:nth-child(3)::before{
    background-image: url(../images/品质保障.png);
}

.footer .bottom{
    padding-top: 40px;
    font-size: 14px;
    color: #999;
    text-align: center;
}

.footer .bottom a{
    font-size: 14px;
    color: #999;
}

.footer .bottom p{
    margin-bottom: 20px;
}